:root {
  /* Paleta de Colores Primarios */
  --primary-color: #195189;
  --success-color: linear-gradient(to right, #2863a7, #0F5C8C);
  --danger-color: #dc3545;
  --darker-danger: #c82333; 

  --dark-blue: #0A2C59;
  --medium-blue: #0F5C8C;
  --light-blue: #3088BF;
  --light-gray: #F2F2F2;
  --dark-gray: #0D0D0D:

  /* Colores de Texto */
  --text-color-dark: #0D0D0D;
  --text-color-light: #555;
  --text-color-inverted: #F2F2F2;

  /* Fondos y Bordes */
  --background-light: #f2F2F2;
  --background-grey: #777;
  --border-color: #ddd;

  /* Tarjetas (Cards) */
  --card-background: #ffffff;
  --card-border-radius: 8px;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --card-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.2);

  /* Transiciones */
  --transition-speed: 0.2s;
}